@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html {
	box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: url(../images/background2.jpeg);
}

#center-logo {
  width: 33%;
  margin:0 auto;
}

#logo-container{
  width: 375px;
  height: 375px;
  padding: 10px;
  border-style: solid;
  border-color: #4ca6bd;
  border-width: 5px;
  border-radius: 50%;
  margin: 0 auto;
}

#logo-image {
  background: url(../images/logo-1.png) no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

#welcome, p {
    text-align: center;
    font-size: 50px;
    color: black;
}

