@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  background: url(../images/background2.jpeg);
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#logo-image {
  height: 667px;
  width: 1000px;
  background: url(../images/logo-sm-img.png);
  padding-top: 100px;
  margin-top: 10px; 
  border-radius: 50%;
  border: cornflowerblue solid 5px;
  justify-content: center;
  align-items: center;
}