@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html {
	box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background: url(../images/background3.jpg);
}

/*------------------------------------------------Logo */
#center-logo {
    margin:0 auto;
}

#logo-container{
    width: 345px;
    height: 345px;
    padding: 10px;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

#logo-image {
    background: url(../images/logo-2.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*------------------------------------------------Website welcome and explanation */

#welcome {
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-decoration: underline;
    text-shadow: 4px 3px 0px rgb(57, 118, 146);
}

.introduction p {
    text-align: center;
    font-size: 22px;
    color: #fff;
    margin: 0 auto;
    padding: 20px;
}

#games-selector a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------Memory cards explanation - level 1 & 2 */

h3 {
    text-decoration: underline;
}

.level-explanation {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
    padding: 20px;
}

.smiley-face {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

/*------------------------------------------------Memory cards gameboard & cards - level 1 & 2 */

.game-board {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3em;
}

.game-grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.game-grid {
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

.memory-card-lv1 {
    width: 7em;
    height: 11em;
}

.memory-card-lv2 {
    width: 7em;
    height: 8.5em;
}

.memory-card-lv1, 
.memory-card-lv2 {
    margin: 5px;
    border-radius: 0.3em;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer;
}

.memory-card-lv1:active, 
.memory-card-lv2:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card-lv1.flip,
.memory-card-lv2.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

/*------------------------------------------------Game timer and score box */

#results {
    height: 85px;
    width: 450px;
    border: 4px solid #fff;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    color: #fff;
}

.return-button {
    max-width: 50%;
    margin: 1.5em auto;
    text-align: center;
    padding: 0.7em 1.4em;
}

#happy-slogan {
    background: url(../images/be-happy.png) no-repeat center center; 
    height: 200px;
    width: 400px;
    margin: 0 auto;
}

/*------------------------------------------------Footer */

footer {
    border-top: 1px solid #fff;
}

/*------------------------------------------------Media Queries */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .memory-card {
        width: 3.5em;
        height: 4em;
    }

    .game-board {
        margin-left: auto;
        margin-right: auto; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .memory-card {
        width: 4.5em;
        height: 4.5em;
    }

    .game-board {
        width: 5.5em;
        height: 5.5em;
        margin-left: auto;
        margin-right: auto; 
    }
}

@media only screen and (min-width: 992px) {
    .memory-card  {
        width: 6em;
        height: 6em;
    }
}

@media screen and (max-width: 580px){
    #results {
        height: 85px;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
} 